/* styles for Add new Category from inside the CPT editor */
.acf-actions.-hover {
    display: block !important;
}
.acf-actions.-hover a{
    background-color: #4b2e83;
    border: none;
    border-radius: 0;
    color:white;
    height: 29px;
    top: 9px;
    width: 100px;

}
.acf-actions.-hover a::before {
    content: '+';
    font-family: sans-serif;
    font-size: 2em;
    width: 100%;
}
.acf-actions.-hover a:hover {
    background-color:#c5b4e3 ;
    color: black
}